# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.env.*
.venv
venv/
env/
ENV/

# GCP Service Specs / Credentials
*_service.json
service_account.json
*.pem

# IDEs
.vscode/
.idea/
